* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {

    /*Colors variables*/
    --border-color: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --black-color-1: hsl(240, 3%, 13%);
    --black-color-2: hsl(240, 2%, 12%);
    --bg-body: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.702);

    /*Font-size variables*/
    --subtext-size: 0.7rem;
    --text-size: 0.8rem;
    --subtitle-size: 1.1rem;
    --title-size: 1.4rem;

    /*Font-size variables > 580px*/

    


    --border-radius: 15px;
    --margin-15: 15px;



    /*transitions*/
    --transition-1: all .5s ease-in-out;
    --transition-all: all 2s ease-in-out;

    /*Gradients*/
    --gradient-1: linear-gradient(
        130deg, hsl(240, 1%, 17%), 
        hsl(240, 3%, 13%) 80%);
    --gradient-yellow-1: linear-gradient(
        135deg, hsl(45, 54%, 58%, 0.600) 0, 
        hsl(240, 3%, 13%) 50%);
    --border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0) 50%
    );
    --gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);

    /*Box-shadow*/
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
}

/*----------------------------
        Body style
-----------------------------*/

body {
    background-color: var(--bg-body);
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    padding: 15px;
}

body::-webkit-scrollbar { width: 4px; }
  
  body::-webkit-scrollbar-track { background-color: var(--bg-body); }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--onyx);
    border-radius: 20px;
}

::selection {
    background-color: var(--vegas-gold);
    color: var(--black-color-1);
}

/*----------------------------
        Main
-----------------------------*/

#main_container {
    min-width: 375px;
    margin: 0 auto 60px auto;
}

/*----------------------------
    Reused style
-----------------------------*/

.icon_box {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--border-gradient-onyx);
    box-shadow:  var(--shadow-1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-yellow-crayola);
    font-size: 16px;
}

.icon_box::before {
    content: '';
    position: absolute;
    inset: 1px;
    background-color: var(--black-color-1);
    border-radius: inherit;
    z-index: -1;
}

.icon_box ion-icon { --ionicon-stroke-width: 35px; }

.title h1 {
    color: var(--white-2);
    font-size: var(--title-size);
    font-weight: 700;
}

.title::after {
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 7px;
    background-color: var(--orange-yellow-crayola);
    position: absolute;
}

/*----------------------------
    Profile navegation
-----------------------------*/

#sidebar {
    max-height: 112px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--black-color-2);
    margin-bottom: var(--margin-15);
    transition: var(--transition-1);
}

#profile { padding: 15px; }

.profile_img {
    width: 80px;
    height: 80px;
    background:  var(--border-color) url(../assets/my-avatar.png) center;
    background-size: cover;
    border-radius: var(--border-radius);
}

.profile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_title { margin-left: 15px; }

.profile_title h1 {
    color: var(--white-1);
    font-weight: 600;
    font-size: var(--subtitle-size);
}

.profile_header h3 {
    color: var(--light-gray);
    background-color: var(--onyx);
    width: 110px;
    text-align: center;
    padding: 3px;
    border-radius: 7px;
    margin: 10px;
}

#profile_info {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.profile_info_more {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_info { margin-left: 10px; }

.contact_info span {
    font-size: 0.6rem;
    color: var(--light-gray-70);
}

.contact_info p, address {
    font-size: 0.8rem;
    color: var(--white-2);
    font-weight: 400;
}

.social_icons ul {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social_icons a {
    color: var(--orange-yellow-crayola);
    font-size: 1.2rem;
    margin-top: 10px;
}

.border_separator {
    height: 1px;
    background-color: var(--border-color);
    margin: 15px 0 15px 0;
}

#sidebar.active {
    max-height: 397px;
}

#sidebar.active #profile_info {
    opacity: 1;
    visibility: visible;
}

/*----------------------------
    Profile buttom
-----------------------------*/

#btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-bottom-left-radius: 15px;
    color: var(--orange-yellow-crayola);
    font-size: 1rem;
    background: var(--border-gradient-onyx);
    right: 0;
    width: 30px;
    height: 30px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
}

#btn span {
    display: none;
}

#btn:hover {
    cursor: pointer;
    border-left: 1px solid var(--orange-yellow-crayola);
    border-top: 1px solid var(--orange-yellow-crayola);
    background: var(--gradient-yellow-1);
}

/*----------------------------
    Navigation bar
-----------------------------*/

#navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 44, 1);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px;
    z-index: 1;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#navbar ul li a {
    color: var(--light-gray);
    font-size: var(--text-size);
    font-weight: 600;
    user-select: none;
}

#navbar ul li a:hover {
    color: var(--light-gray-70);
}

.selected {
    color: var(--vegas-gold) !important;
}

/*----------------------------
    About me section
-----------------------------*/

.content_container {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: var(--black-color-2);
}

.about_me_content {
    margin-top: 20px;
    color: var(--light-gray);
    font-size: var(--text-size);
}

.about_me_content p:not(:last-of-type) {
    margin-bottom: var(--margin-15);
}

/*----------------------------
    Skills section
-----------------------------*/

.skills_container header {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--light-gray);
    margin: 15px 0 15px 0;
}

.my_skills ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skills_items {
    height: 200px;
    background: var(--gradient-jet);
    box-shadow: var(--shadow-2);
    border-radius: var(--border-radius);
}

/*----------------------------
    Resume me section
-----------------------------*/

.resume_timeline {
    margin-top: 30px;
}

.resume_titles {
    display: flex;
    align-items: center;
}

.resume_titles h1 {
    color: var(--white-1);
    font-size: var(--subtitle-size);
    font: 500;
}

.timeline_list {
    padding-left: 45px;
    margin-top: 25px;
}

.timeline_list h2 {
    color: var(--light-gray);
    font-weight: 600;
    font-size: var(--text-size);
}

.timeline_list p:first-of-type {
    color: var(--vegas-gold);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: var(--subtext-size);
}

.timeline_list p:last-of-type {
    color: var(--light-gray);
    font-size: var(--text-size);
    font-weight: 400;
}

.timeline_items {position: relative;}

.timeline_items:not(:last-child) {margin-bottom: 20px;}

.timeline_items:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background-color: var(--border-color);
}

.timeline_items::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -33px;
    height: 6px;
    width: 6px;
    background-color: var(--vegas-gold);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--border-color);
}

/*----------------------------
    Portfolio me section
-----------------------------*/

.portfolio_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.portfolio_items {
    margin-top: 25px;
    border-radius: var(--border-radius);
}


/*-----------------------------------------
    Responsive style min-width 580px
------------------------------------------*/

@media (min-width: 580px) {
    body {
        transition: var(--transition-1);
        padding: 60px;
    }

    #main_container {
        max-width: 580px;
    }


    /*---------- Responsive style sidebar ------------*/

    #sidebar {
        max-height: 180px;
    }

    #sidebar.active { max-height: 548px; }

    .profile_header {
        padding: 15px;
    }




    /*---------- Responsive style button ------------*/

    #btn { width: 120px; }    

    #btn span { 
        display: block; 
        color: var(--vegas-gold);
    }

    #btn ion-icon { display: none; }


}