/*----------------------------
        Variables
-----------------------------*/

:root {

    /*Colors variables*/
    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black-1: hsl(240, 2%, 13%);
    --eerie-black-2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(45, 100%, 72%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);



    /*transitions*/
    --transition-1: all .5s ease-in-out;
    --transition-all: all 2s ease-in-out;

    /*Gradients*/
    --gradient-1: linear-gradient(
        130deg, hsl(240, 1%, 17%), 
        hsl(240, 3%, 13%) 80%);
    --gradient-yellow-1: linear-gradient(
        135deg, hsl(45, 54%, 58%, 0.600) 0, 
        hsl(240, 3%, 13%) 50%);
    --border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0) 50%
    );
    --gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);

    /*Box-shadow*/
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --shadow-3: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, 
                rgba(0, 0, 0, 0.05) 0px 1px 6px 0px, 
                rgba(0, 0, 0, 0.1) 0px 8px 8px 0px, 
                rgba(0, 0, 0, 0.1) 0px 16px 16px 0px, 
                rgba(0, 0, 0, 0.15) 8px 32px 32px 0px, 
                rgba(0, 0, 0, 0.15) 8px 64px 64px 0px;
}

/*----------------------------
        Reset style
-----------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

button, textarea, input {
    border: none;
    outline: none;
    background: transparent;
}

body, html { font-family: 'Poppins', sans-serif; }

/*----------------------------
        Body style
-----------------------------*/

body {
    background-color: var(--smoky-black);
    font-size: 62.5%;
}

body::-webkit-scrollbar { width: 7px; }
  
body::-webkit-scrollbar-track { background-color: var(--smoky-black); }
  
body::-webkit-scrollbar-thumb {
    background-color: var(--onyx);
    border-radius: 20px;
}

::selection {
    background-color: var(--orange-yellow-crayola);
    color: var(--eerie-black-1);
}

/*----------------------------
        Main
-----------------------------*/

main {
    margin: 15px 12px 90px 12px;
    min-width: 259px;
  }

/*----------------------------
    Reused style
-----------------------------*/

.icon_box {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--border-gradient-onyx);
    box-shadow:  var(--shadow-3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-yellow-crayola);
    font-size: 16px;
}

.icon_box ion-icon { --ionicon-stroke-width: 35px; }

.title { margin-bottom: 15px; }

.title h1 {
    position: relative;
    color: var(--white-2);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 7px;
}

.title h1::before {
    content: '';
    bottom: 0;
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: var(--orange-yellow-crayola);
    position: absolute;
}

.subtitle h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--light-gray);
    margin: 15px 0 15px 0;
}

/*----------------------------
    Profile navegation
-----------------------------*/

#sidebar {
    max-height: 112px;
    border: 1px solid var(--jet);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--eerie-black-2);
    margin-bottom: 15px;
    transition: var(--transition-1);
}

#profile { padding: 15px; }

.profile_img {
    background-color:  var(--jet);
    object-fit: center;
    border-radius: 20px;
}

.profile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile_header div:first-of-type { margin-left: 15px; }

.profile_header h1 {
    color: var(--white-1);
    font-weight: 600;
    font-size: 1rem;
}

.profile_header h3 {
    color: var(--light-gray);
    background-color: var(--onyx);
    width: 110px;
    text-align: center;
    padding: 3px;
    border-radius: 7px;
    margin-top: 10px;
}

.profile_info {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.profile_info ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.items_list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_info { margin-left: 10px; }

.contact_info span {
    font-size: 0.6rem;
    color: var(--light-gray-70);
}

.contact_info p, address {
    font-size: 0.8rem;
    color: var(--white-2);
    font-weight: 400;
}

.social_icons ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.social_icons a {
    color: var(--orange-yellow-crayola);
    font-size: 1.2rem;
}

.border_separator {
    height: 1px;
    background-color: var(--jet);
    margin: 15px 0 15px 0;
}

#sidebar.active {
    max-height: 397px;
}

#sidebar.active .profile_info {
    opacity: 1;
    visibility: visible;
}

/*----------------------------
    Profile buttom
-----------------------------*/

#btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-bottom-left-radius: 15px;
    color: var(--orange-yellow-crayola);
    font-size: 1rem;
    background: var(--border-gradient-onyx);
    right: 0;
    width: 30px;
    height: 30px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
}

#btn span {
    display: none;
}

#btn:hover {
    cursor: pointer;
    border-left: 1px solid var(--orange-yellow-crayola);
    border-top: 1px solid var(--orange-yellow-crayola);
    background: var(--gradient-yellow-1);
}

/*----------------------------
    Navigation bar
-----------------------------*/

#navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 44, 1);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    z-index: 5;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#navbar ul li a {
    color: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 600;
    user-select: none;
}

#navbar ul li a:hover {
    color: var(--light-gray-70);
}

.selected {
    color: var(--vegas-gold) !important;
}

/*----------------------------
    About me section
-----------------------------*/

.content_container {
    border-radius: 20px;
    border: 1px solid var(--jet);
    padding: 15px;
    background-color: var(--eerie-black-2);
}

.about_me_content {
    color: var(--light-gray);
    font-size: 0.8rem;
}

.about_me_content p:not(:last-of-type) { margin-bottom: 15px; }

/*----------------------------
    Skills section
-----------------------------*/

.my_skills ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills_items {
    height: 200px;
    background: var(--gradient-jet);
    box-shadow: var(--shadow-2);
    border-radius: 16px;
}

/*----------------------------
    Resume me section
-----------------------------*/

.resume_timeline { margin-top: 25px; }

.resume_titles {
    display: flex;
    align-items: center;
}

.resume_titles h1 {
    color: var(--white-1);
    font-size: 1.2rem;
    font: 500;
    margin-left: 15px;
}

.timeline_list {
    padding-left: 45px;
    margin-top: 25px;
}

.timeline_list h2 {
    color: var(--light-gray);
    font-weight: 600;
    font-size: 0.9rem;
}

.timeline_list span {
    display: inline-block;
    color: var(--vegas-gold);
    margin: 5px 0 5px 0;
    font-size: 0.8rem;
}

.timeline_list p {
    color: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 400;
}

.timeline_items {position: relative;}

.timeline_items:not(:last-child) {margin-bottom: 20px;}

.timeline_items:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background-color: var(--jet);
}

.timeline_items::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -33px;
    height: 6px;
    width: 6px;
    background-color: var(--vegas-gold);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--jet);
}

/*----------------------------
    Portfolio section
-----------------------------*/

.projects_container > ul {
    display: grid;
    grid-template-columns: 1fr;
}

.projects_container figure {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_item > a img {
    width: 100%;
    height: 100%;
    object-fit: center;
    transition: var(--transition-1);
}

.description_content { margin: 10px 0 25px 0; }

.description_content h1 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--light-gray);
}

.description_content p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-gray-70);
}

.icon_eye_box {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--jet);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition-1);
    transform: scale(0.8);
    z-index: 1;
}

.icon_eye_box ion-icon {
    font-size: 20px;
    color: var(--orange-yellow-crayola);
    --ionicon-stroke-width: 50px;
}

.project_item > a:hover .icon_eye_box {
    opacity: 1;
    transform: scale(1);
}

.project_item > a:hover img { transform: scale(1.1); }

/*----------------------------
    Contact section
-----------------------------*/

.map_box {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid var(--jet);
    overflow: hidden;
    margin-bottom: 30px;
}

.map_box figure { height: 100%; }

.map_box iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) invert(1);
}


.form_title { 
    margin: 20px 0 20px 0; 
    color: var(--light-gray);
    font-weight: 700;
    font-size: 1.3rem;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--jet);
    border-radius: 15px;
    font-size: 1rem;
    color: var(--light-gray);
}

textarea {
    width: 100%;
    height: 120px;
    max-height: 200px;
    border: 1px solid var(--jet);
    border-radius: 15px;
    padding: 20px;
    resize: vertical;
    color: var(--light-gray);
    font-size: 1rem;
}

::-webkit-resizer {
    display: none;
}

::placeholder {
    font-size: 1rem;
    font-weight: 1rem;
}

.send_button {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--vegas-gold);
    font-weight: 500;
    font-size: 1rem;
    background: var(--gradient-jet);
    padding: 15px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.send_button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

input:focus, textarea:focus { border-color: var(--orange-yellow-crayola); }

input:focus:invalid, textarea:focus:invalid { border-color: var(--bittersweet-shimmer); }

/*-----------------------------------------
    Responsive style min-width 580px
------------------------------------------*/

@media screen and (min-width: 580px) {
    
    article, #sidebar {
        width: 520px;
        margin-inline: auto;
        border-radius: 20px;
    }

    main {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    /*---------- Responsive style sidebar ------------*/

    #sidebar {
        margin-bottom: 30px;
        max-height: 180px;
    }

    .border_separator { margin: 30px 0 30px 0; }

    .profile_img { border-radius: 30px; }

    #profile { padding: 30px; }

    #profile h1 { font-size: 1.5rem; }

    #profile h3 {
        font-size: 0.8rem;
        width: 120px;
    }

    .icon_box {
        width: 46px;
        height: 46px;
        border-radius: 12px;
        font-size: 20px;
    }

    .contact_info span { font-size: 0.7rem; }

    .contact_info p, address { font-size: 0.9rem; }

    .social_icons a {
        font-size: 1.3rem;
    }

    #sidebar.active { max-height: 579px; }

    /*---------- Responsive style button ------------*/

    #btn { 
        width: 125px; 
        padding: 20px;
    }    

    #btn span { 
        display: block; 
        color: var(--vegas-gold);
        font-size: 0.75rem;
        font-weight: 500;
    }

    #btn ion-icon { display: none; }

    .profile_img img { width: 120px; }

    /*About me section*/

    .content_container { padding: 25px; }

    .title h1 {
        font-size: 1.8rem;
    }

    .title::after {
        padding: 1px;
        width: 40px;
    }

    .about_me_content p {
        font-size: 1rem;
    }

    .about_me_content p:not(:last-of-type) {
        margin-top: 35px;
    }

    .skills_container h1 {
        font-size: 1.6rem;
        margin: 20px 0 15px 0;
    }


/*----------------------------
    Resume responsive style
-----------------------------*/

    .resume_titles h1 { font-size: 1.6rem; }

    .timeline_items:not(:last-child)::before { left: -22px; }

    .timeline_items::after { left: -25px; }

    .timeline_items h2 { font-size: 1rem; }

    .timeline_items span { 
        display: inline-block;
        font-size: 0.8rem;
        margin: 5px 0 5px 0;
    }

    .timeline_items p { font-size: 0.9rem; }

    }



/*-----------------------------------------
    Responsive style min-width 768px
------------------------------------------*/

@media screen and (min-width: 768px) {

    main {
        margin-bottom: 100px;
    }

    article, #sidebar {
        width: 700px;
    }
    /* Sidebar */


    .profile_info > ul {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .input_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

}

/*-----------------------------------------
    Responsive style min-width 1024px
------------------------------------------*/

@media screen and (min-width: 1024px) {


    article, #sidebar {
        width: 950px;
    }

    article {
        position: relative;
    }

    #navbar {
        position: absolute;
        bottom: auto;
        left: auto;
        top: 0;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        box-shadow: var(--shadow-2);
    }
}

/*-----------------------------------------
    Responsive style min-width 1024px
------------------------------------------*/

@media screen and (min-width: 1250px) {

    #sidebar, article {
        width: auto;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    #btn {
        display: none;
    }

    #sidebar {
        max-height: max-content;
        height: 100%;
        position: sticky;
    }

    .profile_info > ul {
        grid-template-columns: 1fr;
    }

    .profile_header {
        flex-direction: column;
    }

    #sidebar .profile_info {
        opacity: 1;
        visibility: visible;
    }
}