* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --border-color: #383838;
    --onyx: #2b2b2c;
    --black-color-1: #202022;
    --black-color-2: #1e1e1f;
    --bg-body: #121212;
    --white-1: #ffffff;
    --white-2: #fafafa;
    --vegas-gold: #ceb15a;
    --light-gray: #d6d6d6;
    --light-gray-70: #d6d6d6b3;
    --bittersweet-shimmer: #b84c4c;

    --border-radius: 15px;
    --margin-15: 15px;
    --margin-top-bot: 10px 0 10px 0;

    /*transitions*/
    --transition-1: all .5s ease-in-out;

    /*Gradients*/
    --gradient-1: linear-gradient(130deg, #2b2b2c, #202022 80%);

    /*Box-shadow*/
    --shadow-1: 4px 4px 12px #121212;
}

/*----------------------------
        Body style
-----------------------------*/

body {
    background-color: var(--bg-body);
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 4px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--bg-body);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--onyx);
    border-radius: 20px;
}

::selection {
    background-color: var(--vegas-gold);
    color: var(--black-color-1);
}

/*----------------------------
        Main
-----------------------------*/

#main_container {
    min-width: 375px;
    margin-bottom: 60px;
}

/*----------------------------
    Reused style
-----------------------------*/

.items_list {
    display: flex;
}

.items_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--margin-15);
    margin-bottom: var(--margin-15);
}

.items_list div p {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--light-gray-70);
}

.items_list h3, address {
    font-size: 0.8rem;
    color: var(--light-gray)
}

.items_list h1 {
    color: var(--white-2);
    font-size: 1.2rem;
    margin-left: 4px;
}

.icons {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--black-color-1);
    box-shadow:  5px 5px 15px #1a1a1c, -5px -5px 15px #262628;
    color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    margin-right: 15px;
}

.icons img {
    width: 15px;
    height: 15px;
}

.border_separator {
    margin: var(--margin-top-bot);
    height: 1px;
    background-color: var(--border-color);
}

.title h1 {
    color: var(--white-2);
    font-size: 1.4rem;
    font-weight: 700;
}

.title::after {
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 7px;
    background-color: var(--vegas-gold);
    position: absolute;
}

/*----------------------------
    Profile navegation
-----------------------------*/

#sidebar {
    max-height: 110px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--black-color-2);
    transition: var(--transition-1);
    margin-bottom: var(--margin-15);
}

#profile {
    width: 95%;
}

#profile_img {
    width: 80px;
    height: 80px;
    background-color:  var(--border-color);
    border-radius: var(--border-radius);
    margin: 15px 15px 15px 0; 
}

#profile_img img {
    width: 80px;
    height: 80px;
}

#profile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile_header h1 {
    color: var(--white-1);
    font-weight: 600;
    font-size: 1.3rem;
}

#profile_header h3 {
    color: var(--light-gray);
    background-color: var(--onyx);
    width: 110px;
    text-align: center;
    padding: 3px;
    border-radius: 7px;
    margin: 10px;
}

#profile_info {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

#sidebar.active {
    max-height: 372px;
}


#sidebar.active #profile_info {
    opacity: 1;
    visibility: visible;
}

#social_icons ul {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px;
    user-select: none;
}

#social_icons img {
    width: 25px;
}

/*----------------------------
    Profile buttom
-----------------------------*/

#btn {
    position: absolute;
    border: none;
    outline: none;
    color: var(--gold);
    background-color: var(--onyx);
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn span {
    display: none;
}

#btn img {
    width: 25px;
}

#btn:hover {
    cursor: pointer;
}

/*----------------------------
    Navigation bar
-----------------------------*/

#navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 44, 1);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px;
    z-index: 1;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#navbar ul li a {
    color: var(--light-gray);
    font-size: 0.7rem;
    font-weight: 600;
    user-select: none;
}

#navbar ul li a:hover {
    color: var(--light-gray-70);
}

#navbar ul li a.active {
    color: var(--vegas-gold);
}

/*----------------------------
    About me section
-----------------------------*/

.content_container {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: var(--black-color-2);
}

.about_me_content {
    margin-top: 20px;
    color: var(--light-gray);
    font-size: 0.9rem;
}

.about_me_content p {
    margin-bottom: var(--margin-15);
}

.skills_title h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white-2);
    margin-bottom: var(--margin-15);
}

.skills_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background: var(--gradient-1);
    margin-bottom: var(--margin-15);
    padding: 15px;
    color: var(--light-gray);
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    box-shadow: var(--shadow-1);
}

/*----------------------------
    Resume me section
-----------------------------*/

.resume_timeline {
    margin-top: 30px;
}

.resume_titles {
    display: flex;
    align-items: center;
}

.resume_titles h1 {
    color: var(--white-1);
    font-size: 1rem;
    font: 500;
}

.timeline_list {
    padding-left: 45px;
    margin-top: 25px;
}

.timeline_list h2 {
    color: var(--light-gray);
    font-weight: 600;
    font-size: 0.9rem;
}

.timeline_list p:first-of-type {
    color: var(--vegas-gold);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
}

.timeline_list p:last-of-type {
    color: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 400;
}

.timeline_items {position: relative;}

.timeline_items:not(:last-child) {margin-bottom: 20px;}

.timeline_items:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background-color: var(--border-color);
}

.timeline_items::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -33px;
    height: 6px;
    width: 6px;
    background-color: var(--vegas-gold);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--border-color);
}

/*----------------------------
    Portfolio me section
-----------------------------*/

.portfolio_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
