* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --border-color: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --black-color-1: hsl(240, 3%, 13%);
    --black-color-2: hsl(240, 2%, 12%);
    --bg-body: hsl(0, 0%, 7%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray-70: hsla(0, 0%, 84%, 0.702);
    --bittersweet-shimmer: hsl(0, 43%, 51%);

    --border-radius: 15px;
    --margin-15: 15px;

    /*transitions*/
    --transition-1: all .5s ease-in-out;

    /*Gradients*/
    --gradient-1: linear-gradient(130deg, hsl(240, 1%, 17%), hsl(240, 3%, 13%) 80%);
    --gradient-yellow-1: linear-gradient(135deg, hsl(45, 54%, 58%, 0.600) 0, hsl(240, 3%, 13%) 50%);

    /*Box-shadow*/
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

/*----------------------------
        Body style
-----------------------------*/

body {
    background-color: var(--bg-body);
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    padding: 15px;
    transition: var(--trasintion-1);
}

body::-webkit-scrollbar { width: 4px; }
  
  body::-webkit-scrollbar-track { background-color: var(--bg-body); }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--onyx);
    border-radius: 20px;
}

::selection {
    background-color: var(--vegas-gold);
    color: var(--black-color-1);
}

/*----------------------------
        Main
-----------------------------*/

#main_container {
    min-width: 375px;
    margin: 0 auto 60px auto;
}

/*----------------------------
    Reused style
-----------------------------*/

.items_list { display: flex; }

.items_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--margin-15);
    margin-bottom: var(--margin-15);
}

.items_list div p {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--light-gray-70);
}

.items_list h3, address {
    font-size: 0.8rem;
    color: var(--light-gray)
}

.items_list h1 {
    color: var(--white-2);
    font-size: 1.2rem;
    margin-left: 4px;
}

.title h1 {
    color: var(--white-2);
    font-size: 1.4rem;
    font-weight: 700;
}

.title::after {
    content: '';
    width: 30px;
    height: 3px;
    border-radius: 7px;
    background-color: var(--vegas-gold);
    position: absolute;
}

/*----------------------------
    Profile navegation
-----------------------------*/

#sidebar {
    max-height: 112px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--black-color-2);
    transition: var(--transition-1);
    margin-bottom: var(--margin-15);
}

#profile { padding: 15px; }

#profile_img {
    width: 80px;
    height: 80px;
    background:  var(--border-color) url(../assets/my-avatar.png) center;
    background-size: cover;
    border-radius: var(--border-radius);
}

#profile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile_title { margin-left: 15px; }

#profile_title h1 {
    color: var(--white-1);
    font-weight: 600;
    font-size: 1.3rem;
}

#profile_header h3 {
    color: var(--light-gray);
    background-color: var(--onyx);
    width: 110px;
    text-align: center;
    padding: 3px;
    border-radius: 7px;
    margin: 10px;
}

#profile_info {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    margin-top: var(--margin-15);
    margin-bottom: var(--margin-15);
}

.icons {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--black-color-1);
    box-shadow:  5px 5px 15px #1a1a1c, -5px -5px 15px #262628;
    color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    margin-right: 15px;
}

.icons img {
    width: 15px;
    height: 15px;
}

#social_icons {
    padding: 15px;
}

#social_icons ul {
    display: flex;
    align-items: center;
    gap: 15px;
    user-select: none;
}

#social_icons img {
    width: 25px;
}

.border_separator {
    height: 1px;
    background-color: var(--border-color);
}

#sidebar.active {
    max-height: 372px;
}

#sidebar.active #profile_info {
    opacity: 1;
    visibility: visible;
}

/*----------------------------
    Profile buttom
-----------------------------*/

#btn {
    position: absolute;
    border: none;
    outline: none;
    color: var(--gold);
    background: var(--black-color-1);
    right: 0;
    width: 30px;
    height: 30px;
    border-bottom-left-radius: 15px;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    box-shadow: var(--shadow-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn span {
    display: none;
}

#btn i {
    color: var(--vegas-gold);
    font-size: 1rem;
    font-weight: 700;
}

#btn:hover {
    cursor: pointer;
    border-left: 1px solid var(--vegas-gold);
    border-top: 1px solid var(--vegas-gold);
    background: var(--gradient-yellow-1);
}

/*----------------------------
    Navigation bar
-----------------------------*/

#navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 43, 44, 1);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 20px;
    z-index: 1;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#navbar ul li a {
    color: var(--light-gray);
    font-size: 0.7rem;
    font-weight: 600;
    user-select: none;
}

#navbar ul li a:hover {
    color: var(--light-gray-70);
}

.selected {
    color: var(--vegas-gold) !important;
}

/*----------------------------
    About me section
-----------------------------*/

.content_container {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: var(--black-color-2);
}

.about_me_content {
    margin-top: 20px;
    color: var(--light-gray);
    font-size: 0.9rem;
}

.about_me_content p {
    margin-bottom: var(--margin-15);
}

.skills_title h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white-2);
    margin-bottom: var(--margin-15);
}

.skills_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    background: var(--gradient-1);
    margin-bottom: var(--margin-15);
    padding: 15px;
    color: var(--light-gray);
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    box-shadow: var(--shadow-1);
}

/*----------------------------
    Resume me section
-----------------------------*/

.resume_timeline {
    margin-top: 30px;
}

.resume_titles {
    display: flex;
    align-items: center;
}

.resume_titles h1 {
    color: var(--white-1);
    font-size: 1rem;
    font: 500;
}

.timeline_list {
    padding-left: 45px;
    margin-top: 25px;
}

.timeline_list h2 {
    color: var(--light-gray);
    font-weight: 600;
    font-size: 0.9rem;
}

.timeline_list p:first-of-type {
    color: var(--vegas-gold);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
}

.timeline_list p:last-of-type {
    color: var(--light-gray);
    font-size: 0.8rem;
    font-weight: 400;
}

.timeline_items {position: relative;}

.timeline_items:not(:last-child) {margin-bottom: 20px;}

.timeline_items:not(:last-child)::before {
    content: '';
    position: absolute;
    top: -25px;
    left: -30px;
    width: 1px;
    height: calc(100% + 50px);
    background-color: var(--border-color);
}

.timeline_items::after {
    content: '';
    position: absolute;
    top: 7px;
    left: -33px;
    height: 6px;
    width: 6px;
    background-color: var(--vegas-gold);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--border-color);
}

/*----------------------------
    Portfolio me section
-----------------------------*/

.portfolio_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.portfolio_items {
    margin-top: 25px;
    border-radius: var(--border-radius);
}

/*----------------------------
    Contact me section
-----------------------------*/

.form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form > div h1 {
    color: var(--light-gray);
    font-size: 1.1rem;
}

.input_form {
    border-radius: 15px;
    padding: 15px;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--black-color-2);
    color: var(--light-gray);
    font-weight: 700;
    font-size: 0.9rem;
}

.input_form:focus, textarea:focus {border: 1px solid var(--vegas-gold);}

.input_form:focus:invalid, textarea:focus:invalid { border: 1px solid var(--bittersweet-shimmer);}

textarea {
    background-color: var(--black-color-2);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    outline: none;
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 700;
    padding: 20px;
    resize: vertical;
}

textarea::-webkit-resizer { display: none; }



.send_message_btn {
    border: none;
    outline: none;
    color: var(--vegas-gold);
    padding: 10px;
    border-radius: 10px;
    background-image: var(--gradient-1);
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
}

.send_message_btn i {
    padding: 8px;
}

.send_message_btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}



/* Responsive Style */

@media (min-width: 580px) {

    /* button style */

    #btn {
        width: 120px;
        color: var(--vegas-gold);
    }
    
    #btn i {
        display: none;
    }

    #btn span {
        display: block;
    }
    
}